%p#notice= notice

%p
  %b User:
  = @collection.user
%p
  %b Mutliverseid:
  = @collection.mutliverseid
%p
  %b Quantity:
  = @collection.quantity
%p
  %b Name:
  = @collection.name

= link_to 'Edit', edit_collection_path(@collection)
\|
= link_to 'Back', collections_path
